* {
	font-family: "CaskaydiaMono Nerd Font";
	font-size: 12px;
	min-height: 0px;
}

#workspaces button {
	padding: 0 5px;
	margin: 0 2px;
	border-radius: 6px;
	color: white;
	background: transparent;
}

#workspaces {
	background: transparent;
}

#workspaces button.active {
	background-color: #333333;
	color: #ffffff;
}

#workspaces button:hover {
	background-color: white;
	color: black;
}

#workspaces button.active:hover {
	background-color: #ffffff;
	color: #000000;
}